{% extends 'core/base.html' %}

{% block title %} Home | {% endblock %}

{% block content %}

    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h2 style="color: gray;">a single path can lead to any destination</h2><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
            {% for post in posts %}
                <div v-for="card in cardData" key="card.id" class="column is-4">
                <a href ="{% url 'post_detail' post.category.slug post.slug %}">
                  <div class="card large">
                    <div class="card-image">
                      <figure class="image is-16by9">
                        {% if post.image_wide %}
                        <img src="{{ post.image_wide.url }}" alt="Image">
                        {% endif %}
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">

                        </div>
                        <div class="media-content">
                          <p class="title is-4 no-padding">{{ post.title }}</p>

                          <p class="subtitle is-6">{{card.user.title}}</p>
                        </div>
                      </div>
                      <div class="content">
                        {{ post.intro }}
                        <div class="background-icon"><span class="icon-twitter"></span></div>
                      </div>
                    </div>
                  </div>
                </a>
                </div> <!-- End of card object -->
            {% endfor %}
        </div>
      </div>
    </div>    <!-- End of container class -->

{% endblock %}